body {
    background-image: url('../img/teacher_back.png');
}
.form-wrapper {
    margin:0px auto;
    width:60%;
    margin-top: 200px;
    border-radius: 10px;
    background-image: url('../img/boardcast.png');
    background-size: contain;
    background-size: 100% 100%;
}
.login {
    box-shadow: 10px 10px 5px #888888;
}
.form-group:first-child {
    padding-top: 30px;
}
.submit_group {
    padding-bottom: 30px;
}

.login label {
    float:left;
}